<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ss.bytertc.engine.flutter">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application>
        <service
            android:name="com.ss.bytertc.base.media.screen.RXScreenCaptureService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />
    </application>
</manifest>
